.dropdown{
    position: relative;
    /* overflow: hidden; */
}

.DropdownBtn{
    background-color: #000000;
    border-style: none;
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    
    /* z-index: 2; */
}

.DropdownBtn::after {
    /* content: "hello"; */
    position: absolute;
    height: 100px;
    /* background-color: aqua; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    clip-path: inset(100px);
    
}

.menuHider{
    position: absolute;
    top: 50%;
    pointer-events: none;
    /* z-index: 40; */
    /* background-color: aqua; */
    overflow: hidden;
    width: 100%;
    height: 200px;
}


.Menu{
    position: absolute;
    left: 0;
    /* top: 50%; */
    list-style: none;
    z-index: -1;
    width: 100%;
    /* pointer-events: none; */
    
    background-color: #0f0f0f;
    /* border-radius: 20px; */
    
    /* opacity: 0; */
    /* --firstPos: bottom:0; */
    /* transform: translateY(var(--firstPos)); */
    bottom: 100%;
    /* top: 50%; */
    /* height: 0; */
    /* overflow: hidden; */
    /* transform: scaleY(0); */
    /* transform-origin: top; */
    /* transition:bottom 150ms ease-in-out, top 150ms ease-in-out, height 150ms ease-in-out; */
    
    
    transition: transform 250ms ease-in-out;
}
.Menu::before{
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    /* overflow: hidden; */
    /* height: 100%; */
    box-shadow: 0px -200px 0 200px rgba(0, 0, 0, 0);
    transform: translateY(0);
    /* content: 'hello'; */
    
}

.gap{
    margin-bottom: 1rem;
    /* height: 50%; */
}

.MenuItem {
    padding: 0.1rem 0.8rem;
    font-size: small;
    font-weight: 200;
    cursor: pointer;
}

