.dropdown{
    position: relative;
}

.DropdownBtn{
    background-color: #000000;
    border-style: none;
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}


.menuHider{
    position: absolute;
    top: 50%;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 200px;
}


.Menu{
    position: absolute;
    left: 0;
    /* top: 50%; */
    list-style: none;
    z-index: -1;
    width: 100%;
    background-color: #0f0f0f;
    bottom: 100%;
    transition: transform 250ms ease-in-out;
}


.gap{
    margin-bottom: 1rem;
}

.MenuItem {
    padding: 0.1rem 0.8rem;
    font-size: small;
    font-weight: 200;
    cursor: pointer;
}

