
.controls_container{
    border: #ffffff3b;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    height: 100%;
    padding: 2rem;
    /* position: static; */
}

.controls_container h3{
    font-weight: 300;
    font-size: 12pt;
    margin-left: 0.6rem;
}

